################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/logitech-cve/FileContentIndex/e6801a1f-0df7-4573-8e9b-6c81364f62e1.vsidx
/.vs/logitech-cve/v17
/.vs/logitech-cve/copilot-chat/e16f9eee/sessions
/.vs/logitech-DLL/v17
